generator:
  class:              sfPropelAdminGenerator
  param:
    model_class:      Fordefsubobj
    theme:            default

    fields:
      codequ:    { name: Directriz}
      codsubobj: { name: C贸digo}
      dessubobj: { name: Descripci贸n}         
      desequ:    { name: Directriz}  
              
    list:
      title:          Defincici贸n de Estrategias
      filters:        [codsubobj, dessubobj, codequ]
      display:        [=desequ, codsubobj, dessubobj]
      object_actions:
        _edit:        ~    
      max_per_page:   10
      sort:     codsubobj
    edit:
      title:          Edici贸n de Estrategias
      display:       [codsubobj, dessubobj, codequ]            
      actions:
        _list:        ~
        _save:        ~
        _delete:      ~
        _create:      ~
