/*

bright: rgb(234,242,255);
normal: rgb(120,172,255);
dark:	rgb(0,66,174);

*/

.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		10px;
	cursor:			Default;
	display:		inline;
	margin:			2px -5px 2px 5px;
	float:			left;
	padding:		5px 6px 1px 6px;
	background:		rgb(234,242,255);
	border:			2px solid;
	border-color:	rgb(120,172,255);
	text-decoration:	none;
	border-left:	1;
	border-bottom:	1;
	border-top:		2;
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			2;
}
/*cuando es escogido el botton*/
.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			3px solid rgb(120,172,255);
	border-bottom:	1;
	z-index:		5;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -2px 0px;
	top:			-3px;
	background:		white;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			10px;
	color:				rgb(0,66,174);
	text-decoration:	none;
	cursor:			hand;
	cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	rgb(0,66,174);
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight:	bold;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid rgb(120,172,255);
	background:		White;
	z-index:		1;
	position:		relative;
	top:			-2px;
	color:			Black;
	font-family:	Verdana, Helvetica, Arial;
	font-size:		10px;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		2;
	white-space:	nowrap;
	background:		white;
	height:			1.95em;
	width:			100%;
}
element.style {
visibility:visible;
}
.calendar, .calendar table {
background:transparent url(normal-bg.gif) repeat scroll 0%;
border:1px solid #BDB2BF;
border-collapse:separate;
color:#000000;
cursor:default;
font-family:"trebuchet ms",verdana,tahoma,sans-serif;
font-size:11px;
}