generator:
  class:              sfPropelAdminGenerator
  param:
    model_class:      Bndisinm
    theme:            default
    fields:
      codact: { name: Código Catalogo}
      codmue: { name: Código Activo}
      desinm: { name: Descripción}
      nrodisinm: { name: Número de Orden}
      tipdisinm: { name: Tipo}
      motdisinm: { name: Motivo}
      desmot:    { name: Descripcion}
      fecdisinm: { name: Fecha}
      fecdevdis: { name: Fecha Devolución}
      mondisinm: { name: Monto}
      detdisinm: { name: Detalles}
      codubiori: { name: Origen}
      desubiori: { name: Descripción}
      codubides: { name: Destino}
      desubides: { name: Descripción}
      obsdisinm: { name: Observación}
      stadisinm: { name: Estatus[A/D]}
      vidutil:   { name: Vida Util}
    list:
      title:          Disposición de Inmuebles
      filters:        [codact, codmue, desinm, fecdisinm, nrodisinm, stadisinm]
      display:        [=codact, codmue, desinm, nrodisinm, stadisinm]
      fields:
        fecdisinm: { params: date_format='dd/MM/yy' }
        fecdevdis: { params: date_format='dd/MM/yy' }
      object_actions:
        _edit:        ~
        _delete:      ~
      max_per_page:   10
      sort:  codact
    edit:
      title:          Edición de Disposición de Inmuebles
      display:       [=codact, codmue, desinm, nrodisinm, tipdisinm, motdisinm, desmot, fecdisinm, fecdevdis, mondisinm, detdisinm, codubiori, desubiori, codubides, desubides, obsdisinm, stadisinm]
      actions:
        _list:       ~
        _save:
          only_for: create
          params: class="sf_admin_action_delete" onClick="anular()"

        _create:      ~
        _delete:     ~
      fields:
        fecdisinm: { params: date_format='dd/MM/yy' }
        fecdevdis: { params: date_format='dd/MM/yy' }
